
@{
    ViewData["Title"] = "二进制转文本";

}
@section scripts{
    <script src="~/js/AJAXFrame.js"></script>
    <script>
        $(function () {
            $("body").on("click", "#btnDoCvrt", function () {

                let srcBinNumbers = document.getElementById("srcBinNumbers").value;
                let encoding = document.getElementById("encoding").value;
                if (srcBinNumbers == '') {
                    return;
                }
                lcsPost('@Url.Action("DoConvertBin2Text")', { binContent: srcBinNumbers, encoding: encoding }, function (result) {
                    if (result.Code === 0) {
                        document.getElementById("destChars").value = result.Data;
                    }
                    else {
                        document.getElementById("destChars").value = result.Message;

                    }
                });

            });


        })


    </script>

}
<div>

    <h3>二进制转文本</h3>

    <section>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">输入二进制内容</label>
                <textarea class="form-control form-control-lg" id="srcBinNumbers" required placeholder="10010011...">
00110001 00110010 00110011
</textarea>
            </div>

            <div class="form-inline">
                <button type="button" id="btnDoCvrt" class="btn btn-primary">转换</button>

                <select class="form-control ml-4" id="encoding">
                    <option value="UTF-8" selected>utf-8</option>
                    <option value="UNICODE">unicode</option>
                    <option value="GB18030">GBK/GB2312</option>
                </select>
            </div>

            <div class="form-group mt-4">
                <label for="exampleInputEmail1">转换结果:</label>
                <textarea readonly class="form-control-plaintext" style="border:1px solid #666" id="destChars">无</textarea>
            </div>
        </form>
    </section>

</div>

